<footer class="page-footer font-small bg-danger pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <h4 style="color:rgb(253, 250, 249)">REDES SOCIAIS</h4>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <ul class="social-network">
            <li>
              <a href="https://www.linkedin.com/in/cintia-amanda-de-oliveira-rocha/" target="_blank" 
               class="iconFacebook"><i class="fa-brands fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="https://github.com/cintiarocha" target="_blank" 
               class="IconGithub"><i class="fa-brands fa-github"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/cintia-amanda-de-oliveira-rocha/" target="_blank" 
               class="iconLinkedin"><i class="fa-brands fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="footer-copyright bg-secondary text-center font-italic py-3">
      <p class="fontBlack">© 2022 Copyright: 
        <a href="https://github.com/cintiarocha" target = "_blank" 
         class="fontBlack">Cíntia Amanda de Oliveira Rocha</a>
      </p>
    </div>
  </footer>