img-bg{

    background-image: url('https://static.wixstatic.com/media/db516d_2eba5d88a4d149a0bfdc798b5e2c6656~mv2.png/v1/fill/w_1699,h_1305,al_c/db516d_2eba5d88a4d149a0bfdc798b5e2c6656~mv2.png');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}