#img-bg{

    background-image: url('https://i.pinimg.com/564x/4e/6f/e8/4e6fe8a4aca2b1b03a4b0c8aec74678c.jpg');

    min-height: 750px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}