#img-bg{

    background-image: url('https://diariodonordeste.verdesmares.com.br/image/contentid/policy:1.3203924:1647286621/Jack-Russell-Terrier.jpg?f=default&$p$f=1227f5e');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}